* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #2c2c2c;
}
.hero {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto 0;
  height: 95vh;
  background-color: #eae5d7;
  border: 4px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  position: relative;
  border-bottom: 2px solid #111;
}
ul {
  gap: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
  white-space: nowrap;
}
#home {
  background-color: #d6cdb1;
  margin: 1% 0 0 1%;
  padding: 1rem 2rem;
  border-radius: 10px 10px 0 0;
  border: 2px solid #111;
  border-bottom: none;
}
#about,
#project,
#contact {
  background-color: #baa77d;
  padding: 0.7rem 2rem;
  margin-top: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #111;
}

.tabs-filler {
  position: absolute;
  background-color: #fff;
  border-bottom: 2px solid #111;

  background-color: #9f8257;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #d6cdb1;
}

.search {
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .hero {
    height: 90vh;
  }
  ul {
    gap: 4px;
    display: flex;
    justify-content: center;
  }
  #home {
    margin: 0.4rem 0 0 0;
    padding: 0.7rem 1rem;
    font-size: 0.5rem;
  }
  #project,
  #about,
  #contact {
    margin-top: auto;
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
  }
  .search-container {
    padding: 0.6rem;
  }
}
