* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

/*! Container */
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1280px;
  min-height: 95vh;
  background-color: #f5f5f5;
  border: 3px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}

/*! Navigation Bar */
nav {
  display: flex;
  flex-direction: column;
  height: 110px;
  border-bottom: 2px solid #111;
  position: relative;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: end;
  list-style: none;
  gap: 5px;
  position: relative;
  z-index: 1;
}

.tabs-container {
  position: absolute;
  background-color: #9f8257;
  border-bottom: 2px solid #111;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6cdb1;
  flex: 1;
}
.tab-pillar {
  height: 3.4rem;
}

.home .tab-label {
  margin-left: 8px;
  --tab-width: 70px;
  width: var(--tab-width);
  --tab-height: 40px;
  height: var(--tab-height);

  transition: height 0.25s ease-in-out;
}

.projects .tab-label,
.about .tab-label,
.contact .tab-label {
  --tab-width: 140px;
  width: var(--tab-width);
  --tab-height: 40px;
  height: var(--tab-height);

  transition: height 0.25s ease-in-out;
}

.tab-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8px;
  background-color: #baa77d;
  border-bottom: 2px solid #111;
  border-radius: 1rem 1rem 0 0;
  margin-top: auto;
  cursor: pointer;
  white-space: nowrap;

  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
img {
  width: 1.3rem;
}
li input {
  display: none;
}
.search-container input {
  height: 60%;
  width: 85%;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
}

input:checked + label .tab-label {
  height: calc(var(--tab-height) + 8px);
  border: 2px solid #111;
  border-bottom: 0 solid #111;
  background-color: #d6cdb1;
}
input:checked + label .tab-label img {
}
