* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #fff;
}
.hero {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto 0;
  height: 95vh;
  background-color: #eae5d7;
  border: 4px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  background-color: #9f8257;
  border-bottom: 4px solid #111;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
}

#home {
  background-color: #d6cdb1;
  padding: 1rem 2rem;
}
#about,
#project,
#contact {
  background-color: #baa77d;
  padding: 1rem 2rem;
}
.search-container {
  padding: 1rem;
  background-color: #d6cdb1;
}

@media (max-width: 768px) {
  .hero {
    height: 85vh;
  }
  #home,
  #project,
  #about,
  #contact {
    padding: 1rem 1.5rem;
    font-size: 0.5rem;
  }
}
