* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}
.hero {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto 0;
  height: 95vh;
  background-color: #eae5d7;
  border: 4px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  background-color: #9f8257;
  border-bottom: 4px solid #111;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.hero-contents input {
  display: none;
}

#home {
  position: absolute;
  background-color: #d6cdb1;
  padding: 1rem 2rem 1.25rem;
  border-right: 4px solid #111;
}
#about {
  border-right: 4px solid #111;
  background-color: #baa77d;
}
#projects {
  border-right: 4px solid #111;
  padding: 1rem 2rem 1rem 10rem;
  background-color: #baa77d;
}
#contact {
  border-right: 4px solid #111;
  background-color: #baa77d;
}
.hero-contents ul li {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
  padding: 1rem 2rem;
}

.tabs {
  border-top: 4px solid #111;
  padding: 1rem;
  background-color: #d6cdb1;
}

@media (max-width: 768px) {
  .hero {
    height: 85vh;
  }
  .hero-contents a {
    font-size: 0.7rem;
  }
}
