body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}
.hero {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto 0;
  height: 95vh;
  background-color: #eae5d7;
  border: 4px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  border-bottom: 4px solid #111;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
}
nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
}

@media (max-width: 768px) {
  .hero {
    height: 85vh;
  }
  nav ul {
    justify-content: flex-start;
  }
  nav ul li a {
    font-size: 0.7rem;
  }
}
