* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 98vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #eae5d7;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  margin: 0.5% auto 0.5%;
  min-height: 97vh;
  background-color: #f5f5f5;
  border: 3px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  position: relative;
  border-bottom: 2px solid #111;
}
ul {
  gap: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
  white-space: nowrap;

  border-radius: 1rem 1rem 0 0;
}
#home {
  box-shadow: 2px 0px 0px #111;
  background-color: #d6cdb1;
  margin: 0.6% 0 0 1%;
  padding: 0.7rem 1rem;
  border: 2px solid #111;
  border-bottom: none;
}

#project,
#about,
#contact {
  gap: 5px;
  background-color: #baa77d;
  padding: 0.4rem 1.5rem;
  margin-top: auto;
  border-bottom: 2px solid #111;
}
li img {
  width: 1.5rem;
  display: flex;
}

.tabs-filler {
  position: absolute;
  background-color: #fff;
  border-bottom: 2px solid #111;

  background-color: #9f8257;
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  background-color: #d6cdb1;
}

.search {
  width: 80%;
  padding: 1rem;
  border-radius: 7px;
  background-color: #fff;
}

.full-name {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 10rem;
}
.full-name h1 {
  border: 2px solid #111;
  border-radius: 3rem;
  padding: 1.3rem;
  box-shadow: 6px 6px 0px #111;
  background-color: #ff5757;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
}
.profile img {
  max-width: 500px;
  max-height: 500px;
}
.contents {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.as {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40%;
  margin: 4% 5% 0;
}

.as h2 {
  border: 2px solid #111;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 6px 6px 0px #111;

  background-color: #50afff;
}
@media (max-width: 768px) {
  .hero {
    height: 90vh;
  }
  ul {
    gap: 4px;
    display: flex;
    justify-content: center;
  }
  #home {
    margin: 0.4rem 0 0 0;
    padding: 0.7rem 1rem;
    font-size: 0.5rem;
  }
  #project,
  #about,
  #contact {
    margin-top: auto;
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
  }
  .search-container {
    padding: 0.6rem;
  }
}
