* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  background-color: #eae5d7;
}
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1280px;
  min-height: 95vh;
  background-color: #f5f5f5;
  border: 3px solid #111;
  border-radius: 4px;
  box-shadow: 6px 6px 0px #111;
}
nav {
  height: 110px;
  border-bottom: 2px solid #111;
  position: relative;
  display: flex;
  flex-direction: column;
}
ul {
  gap: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  z-index: 1;
}
.tab-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: #111;
  white-space: nowrap;
  border-radius: 1rem 1rem 0 0;

  gap: 0.5rem;
  background-color: #baa77d;
  width: 140px;
  height: 40px;
  margin-top: auto;
  border-bottom: 2px solid #111;
}
.tabs-container {
  position: absolute;
  background-color: #fff;
  border-bottom: 2px solid #111;
  background-color: #9f8257;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6cdb1;
  flex: 1;
}
.search-container input {
  height: 60%;
  width: 85%;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
}
img {
  width: 27px;
}
input {
  display: none;
}
input:checked + label .tab-name {
  border: 2px solid #111;
  background: #fff;
  border-bottom: none;

  background-color: #d6cdb1;
}
